{% extends 'core/home.html' %}
{% block body %}
   {% if request.user.is_authenticated %}
    <body class="hold-transition skin-blue sidebar-mini">
    {% else %}
    <body class="hold-transition skin-blue sidebar-collapse">
    {% endif %}
    <div class="wrapper">
        <!-- Header -->
        {% include 'core/header.html' %}
        {% if request.user.is_authenticated %}
        <!-- Sidebar -->
            {% include 'core/sidebar.html' %}
        {% endif %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if request.user.is_authenticated %}
                            <div style="padding-top:10px; padding-right:400px; text-align: right">
                                <b style="color:black">Bienvenid@ {{ request.user.first_name }}</b></div>
                            {% endif %}
                        </div>
                     <!--   <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'core/footer.html' %}
    </div>
    <!-- Block javascript -->
    {% block javascript %}

    {% endblock %}
    </body>
{% endblock %}
