{% if request.user.is_authenticated %}
<nav class="main-header navbar navbar-expand navbar-dark bg-dark">
<div class="container">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
            <i class="fas fa-bars"></i></a>
        </li>
    </ul>
   {% else %}
   <nav class="main-header navbar navbar-expand-lg navbar-dark bg-dark">          
   {% endif %}
   <div class="container">  
        <a class="navbar-brand" href="{% url 'home' %}">Cooper</a>
    <div class="collapse navbar-collapse" id="ned">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="{% url 'pages:pages' %}">Páginas</a>
            </li>    
            <li class="nav-item">
               <a class="nav-link" href="{% url 'profiles:list' %}">Perfiles</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Acceder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Registro</a>
            </li>
              {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'messenger:list' %}">Mensajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" >
                  <i class="fas fa-power-off" aria-hidden="true"></i>
                </a>
            </li>
              {% endif %}
        </ul>
    </div>
</div>
</nav>